<a href="/rock">Play Rock </a><br>
<a href="/paper">Play Paper </a><br>
<a href="/scissors">Play Scissors </a><br>

<h1>We played paper!<br><br>

They played <%= @comp_move %>!<br><br>

We <%= @outcome %>!</h1>

<a href="/">Rules</a>
